<include href="views/header.html"></include>

<body>
    <div class="container">
    <h1>Food Order</h1>
    <form method="post" action="#">

        <div class="form-group">
            <label>What would you like to order?
                <input type="text" name ="food" id="food" value="{{ @userFood }}">
                <check if="{{ isset(@errors['food']) }}">
                    {{ @errors['food'] }}
                </check>
            </label>
            <!-- Add span -->
            <span id="food-message">Food is not available</span>
        </div>

        <!-- get meal -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Select a meal</label>
            <div class="col-sm-4">
                <repeat group="{{ @meals }}" value="{{ @meal }}">
                    <label><input type="radio"
                                  name="meal"
                                  id="{{ @meal }}"
                                  value="{{ @meal }}"
                            <check if="{{ @meal == @userMeal }}">checked</check>>
                        {{ ucfirst(@meal) }}
                        </input></label><br>
                </repeat>
                <check if="{{ isset(@errors['meal']) }}">
                    {{ @errors['meal'] }}
                </check>
            </div>
        </div>

        <input type="submit" value="Next >>">
    </form>
    </div>

    <!-- Link to JS file -->
    <script src="scripts/food-script.js"></script>
</body>
</html>