<include href="views/header.html"></include>
<body>
    <div class="container">
    <h1>Food Order</h1>
    <form method="post" action="#">

        <div class="form-group">
            <label>What would you like to order?
                <input type="text" name ="food">
                <check if="{{ isset(@errors['food']) }}">
                    {{ @errors['food'] }}
                </check>
            </label>
        </div>

        <!-- get meal -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Select a meal</label>
            <div class="col-sm-4">
                <repeat group="{{ @meals }}" value="{{ @meal }}">
                    <label><input type="radio"
                                  name="meal"
                                  id="{{ @meal }}"
                                  value="{{ @meal }}"> {{ ucfirst(@meal) }}
                        </input></label><br>
                </repeat>
            </div>
        </div>

        <input type="submit" value="Next >>">
    </form>
    </div>
</body>
</html>